package pages

import (
	admini18n "github.com/radynsade/faryengo/web/admin/i18n"
	"github.com/radynsade/faryengo/web/admin/templates/components"
	"github.com/radynsade/faryengo/web/admin/templates/layouts"
)

type SignInProps struct {
	Action             string
	RestorePasswordURL string
	Email              string
}

// SignIn submits credentials using a native form, including without JavaScript.
templ SignIn(props SignInProps) {
	@layouts.AuthLayout(admini18n.T(ctx, "actions.sign_in"), admini18n.T(ctx, "auth.description")) {
		<form class="form-stack" method="post" action={ templ.URL(props.Action) }>
			@components.TextInput(components.TextInputProps{
				ID:           "email",
				Name:         "email",
				Type:         "email",
				Label:        admini18n.T(ctx, "fields.email"),
				Placeholder:  admini18n.T(ctx, "fields.email_placeholder"),
				Autocomplete: "username",
				Value:        props.Email,
				Required:     true,
			})
			@components.TextInput(components.TextInputProps{
				ID:           "password",
				Name:         "password",
				Type:         "password",
				Label:        admini18n.T(ctx, "fields.password"),
				Placeholder:  admini18n.T(ctx, "fields.password_placeholder"),
				Autocomplete: "current-password",
				Required:     true,
			})
			@components.PrimaryButton("submit") {
				{ admini18n.T(ctx, "actions.sign_in") }
			}
		</form>
		<p class="auth-panel__footer">
			@components.PageLink(props.RestorePasswordURL) {
				{ admini18n.T(ctx, "auth.forgot") }
			}
		</p>
	}
}
