@use '../abstracts' as ui;

.details-list {
	display: grid;
	grid-template-columns: max-content minmax(0, 1fr);
	gap: var(--space-3) var(--space-5);
	margin: var(--space-5) 0;

	dt {
		font-weight: var(--font-weight-bold);
	}

	dd {
		margin: 0;
		overflow-wrap: anywhere;
	}

	&__permissions {
		margin: 0;
		padding-left: 1.25em;
	}
}

@include ui.respond-to(panel) {
	.details-list {
		grid-template-columns: minmax(0, 1fr);
		gap: var(--space-1);

		dd + dt {
			margin-top: var(--space-3);
		}
	}
}
